<h1>{{Service}}</h1>
<p><i>By: Austin Cory Bart, Dr. Tony Allevato, Dr. Eli Tilevich, Dr. Clifford Shaffer, and Dr. Simin Hall.</i></p>

<p>{{Description}}. This is the Java library.</p>

<h2>Background</h2>

<p>Many applications, especially those on mobile devices, need to access data from live web services in order to provide some
meaningful functionality for the user. For example, the popular website Yelp has apps for Android and iOS that let the user navigate the listings and reviews of businesses in the user's local area or elsewhere.</p>

<p>How does the app access this data over the web? For native apps that do more than just embed a web browser and use mobile stylesheets, they typically use web services. These services are designed to let a user/app submit a request for a piece of information (e.g., "restaurants in Blacksburg VA") and then return the requested data in a form that is much easier for the app to process – plain-text, XML, JSON, or some other structured data format.<p>

<p>There are a number of difficulties involved with writing apps that use web services, however:</p>

<ol>
<li><b>Communication with websites should happen asynchronously, in a different thread than the main program.</b> The reason for this is because making a request and waiting for a response from a website usually takes a small, but noticeable, amount of time – it's not instantaneous. In a GUI application, for example, if your program made the request and then waited for it to return, your entire interface would hang until the request completed. In other words, your buttons and other widgets would be unresponsive. If the site you're trying to connect to is slow or down, this is deadly for your app.</li>
<li><b>You need to parse the data into a useful format.</b> The response you get back from a web service is not going to be nice clean Java objects. Web services return text in some structured format, and you would need to parse that string to pull out the data you were interested in.</li>
<li><b>Unit testing with live data is fragile.</b> Writing unit tests that rely on a web service is risky, because the data provided by the service might change as you develop the application. If you write assertions that assume that a business named "Stan's Food Restaurant" has 4 reviews and a rating of 3.5, you might be surprised later on to find your tests fail when someone submits a new review, even though nothing in your code has changed.</li>
</ol>

<h2>Overview of features</h2>

<p>As an API in the RealTimeWeb project, this library allows you to:</p>

<ol>
<li>Handles threading internally, so that you don't have to write the low-level code that communicates asynchronously.</li>
<li>Parses the text response from the service and creates a nice set of Java objects that represent common "entities" in the database, like {{classes}} and so forth.</li>
<li>Defaults to using an internal cache of data that never changes that doesn't actually connect to the website, for testing purposes. Then, later on you only need to "flip a switch" to have the app use the real service in production. This gives you <a href='http://en.wikipedia.org/wiki/Idempotence#Computer_science_meaning'>Idempotencey</a>.</li>
</ol>

<p>Data returned using the API can either be:</p>
<ul>
<li>Raw strings (Json)</li>
<li>a HashMap-based dictionary (Structured)</li>
<li>Classes (Regular)</li>
</ul>

<p>This file will cover how to use the Regular service synchronously without the local cache.</p>

<h2>Simplest Usage</h2>

<p>First, you should add the provided *.jar file to your classpath.</p>

<p>Now you can get an instance of the Reddit API:</p>

<code>
public class JRedditTest {
	public static void main(String[] args) {
		Reddit reddit = Reddit.getInstance();
		// OR
		// StructuredReddit reddit = StructuredReddit.getInstance();
		// OR
		// JsonReddit reddit = JsonReddit.getInstance();
	}
}
</code>

<p>You can now either get Posts or Comments. The data returned from these two functions will be passed into a Listener that you specify. When you getPosts, you can filter by subreddit (or you might choose to use "all"). You also sort results, e.g. by newest, by top, by most controversial.</p>

<code>
public class JRedditTest {
	public static void main(String[] args) {
		Reddit reddit = Reddit.getInstance();
		reddit.getPosts("virginiatech", SortMode.TOP, new PostListener() {
			public void onSuccess(ArrayList<Post> posts) {  
				System.out.println(posts);
			}
		}
	}
}
</code>

<p>The default method is to get live data from the web service. However, you can also use the internal cache.</p>

<code>
public class {{camel_case_caps_service}}Test {
	public static void main(String[] args) {
		Reddit reddit = Reddit.getInstance();
		
		reddit.disconnect();
    
		reddit.getPosts("virginiatech", SortMode.TOP, new PostListener() {
			public void onSuccess(ArrayList<Post> posts) {  
				System.out.println(posts);
			}
		}
	}
}
</code>

<p>If the data isn't able to be found in the cache, then an empty list will be returned.</p>
